<nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
        <abp-routes
        *abpReplaceableTemplate="{
          componentKey: service.routesComponentKey,
          inputs: {
            smallScreen: { value: service.smallScreen }
          }
        }"
       
        [smallScreen]="service.smallScreen"
      ></abp-routes>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <abp-logo></abp-logo>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input
               autocomplete="off"
               type="search"
               class="form-control rounded"
               placeholder='Search (ctrl + "/" to focus)'
               style="min-width: 225px"
               />
        <span class="input-group-text border-0"
              ><i class="fas fa-search"></i
          ></span>
      </form>

      <!-- Right links -->
      <div class="d-flex align-items-center">
        <abp-nav-items
          *abpReplaceableTemplate="{
            componentKey: service.navItemsComponentKey
          }"
          
        ></abp-nav-items>
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>

  <main class="mt-5">
    <div class="container pt-4 ps-4">
        <abp-page-alert-container></abp-page-alert-container>
  
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </main>