<abp-modal [(visible)]="isModalOpen">
    <form #templateVariableName="ngForm">
        <ng-template #abpHeader>
            <h3>{{ (this.UserID ? '::Edit' : '::NewBook' ) | abpLocalization }}</h3>
        </ng-template>

        <ng-template #abpBody>
            <ul class="nav nav-tabs mb-3 d-flex justify-content-center" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                        aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                        aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
                </li>
            </ul>

            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">

                    <div class="row">
                        <div class="col-6"><img
                                [src]="getuserforedit.extraProperties?.Profilepic!=null?'data:application/jpg;base64,'+getuserforedit.extraProperties.Profilepic:'../../../assets/images/User-avatar.png'"
                                width="100" height="100" alt="">
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Uplode Image</label>
                                    <input (change)="upload($event)" #Profilepic class="form-control" hidden type="file"
                                        id="formFile">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="book-type">Type </label>&nbsp;<span class="text-danger">*</span>
                        <select class="form-control" id="book-type" [(ngModel)]="getuserforedit?.extraProperties.Title"
                            name="Title">
                            <option [ngValue]="0">Select title</option>
                            <option [ngValue]="type.value" *ngFor="let type of title"> {{ type.key }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="-name">First name </label>&nbsp;<span class="text-danger">*</span>
                        <input [(ngModel)]="getuserforedit.name" type="text" id="name" name="name" class="form-control"
                            autofocus />
                    </div>

                    <div class="form-group">
                        <label for="surname">Last name </label>&nbsp;<span class="text-danger">*</span>
                        <input [(ngModel)]="getuserforedit.surname" type="test" id="surname" name="surname"
                            class="form-control " />
                    </div>

                    <div class="form-group mt-2">

                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="getuserforedit.extraProperties.Gender" class="form-check-input"
                                type="radio" name="Gender" id="Male" value="M">
                            <label class="form-check-label" for="Male">
                                Male
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="getuserforedit.extraProperties.Gender" class="form-check-input"
                                type="radio" name="Gender" id="Female" value="F">
                            <label class="form-check-label" for="Female">
                                Female
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="getuserforedit.extraProperties.Gender" class="form-check-input"
                                type="radio" name="Gender" id="other" value="O">
                            <label class="form-check-label" for="other">
                                Other
                            </label>
                        </div>
                        <span class="text-danger">*</span>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="username" class="form- label">Username&nbsp;<span
                                    class="text-danger">*</span></label>
                            <input [(ngModel)]="getuserforedit.userName" class="form-control" name="Username"
                                type="text" id="username">
                        </div>

                    </div>
                    <div class="form-check">
                        <input [(ngModel)]="getuserforedit.isActive" class="form-check-input" type="checkbox" value=""
                            id="isActive" name="isActive">
                        <label class="form-check-label" for="flexCheckDefault">
                            Active
                        </label>
                    </div>
                    <div class="form-check">
                        <input [(ngModel)]="getuserforedit.lockoutEnabled" class="form-check-input" type="checkbox"
                            name="lockoutEnabled" value="" id="lockoutEnabled">
                        <label class="form-check-label" for="flexCheckChecked">
                            Lock account after failed login attempts
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="email">Email </label>&nbsp;<span class="text-danger">*</span>
                        <input [(ngModel)]="getuserforedit.email" type="test" name="email" id="email"
                            class="form-control " />
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Phone Number </label>&nbsp;<span class="text-danger">*</span>
                        <div class="input-group mb-3">
                            <select class="input-group-text" id="basic-addon3">
                                <option [ngValue]="null">Select title</option>
                                <option [ngValue]="type.value" *ngFor="let type of title"> {{ type.key }}</option>
                            </select>
                            <input [(ngModel)]="getuserforedit.phoneNumber" type="text" name="phoneNumber"
                                class="form-control" id="phoneNumber" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="form-check" *ngIf="!UserID">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="randompassword" value=""
                            name="randompassword" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Random Password
                        </label>
                    </div>
                    <div [hidden]="!UserID?randompassword:false">
                        <div class="mb-3">
                            <label for="username" class="form- label">Password &nbsp;<span
                                    class="text-danger">*</span></label>
                            <input [(ngModel)]="password" class="form-control" type="text" id="password"
                                name="password">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form- label">Consfrm password&nbsp;<span
                                    class="text-danger">*</span></label>
                            <input [(ngModel)]="confrmpassword" class="form-control test" type="text"
                                name="confrmpassword" id="confrmpassword">

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2"
                    style="height: 20rem;">
                    <div class="container mt-5">
                        <p-multiSelect [options]="dropdownList" [(ngModel)]="binding" name="test"
                            defaultLabel="Select a City" optionLabel="item_text" optionValue="item_text"
                            [filter]="false" display="chip" [style]="{'width':'100%'}"
                            class="mt-5 w-50"></p-multiSelect>
                    </div>

                </div>
            </div>

        </ng-template>
        <ng-template #abpFooter>
            <button pButton type="button" label="Click"></button>
            <button type="button" class="btn btn-secondary" (click)="clearfild()" abpClose>
                {{ '::Close' | abpLocalization }}
            </button>
            <button class="btn btn-primary" type="submit" (click)="savedata()" [disabled]="!templateVariableName.valid">
                <i class="fa fa-check mr-1"></i>
                {{ '::Save' | abpLocalization }}
            </button>
        </ng-template>
    </form>
</abp-modal>